body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 28px 0 28px 0;
}

#etch-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    width: 500px;
    padding: 0;
    margin: 0;
}

.grid-box {
    border: 0.5px solid black;
    padding: 0;
    margin: 0;
}