body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;
}

#etch-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* close in border margin between each box */
.grid-box {
    border-style: solid;
    margin: 1px;
    border-width: 2px;
    border-color: black;
    height: 250px;
    width: 250px;
}